html {
    height: 100%;
}

body {
    background: linear-gradient(to bottom, lightblue, blue);
    font-family: 'Comic Sans MS', Calibri, 'Courier New';
    color: black;
    margin: 1;
    padding: 1;
    height: 100%;
}

.container {
    background-color: darkgray;
    max-width: 700px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h1 {
    color: blue;
    font-size: 80px;
    margin-bottom: 10px;
}

h2 {
    color: #313;
    margin-top: 25px;
}

p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 12px;
}

img {
    border-radius: 30%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
 }

 ul {
    list-style-type: none;
    padding: 1px;
 }

 li {
    background-color: #bfbfbf;
    margin: 8px 0;
    border-radius: 10px;
 }

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: color 0.3s ease-out, font-size 0.3s ease-out;
}

 a:hover {
    color: #49ee23;
    font-size: 30px;
    text-decoration: underline;
 }